<header>
    <div class="logo">
      <img src="/img/logo.png" alt="">
      <span>Cadastro de Restaurante</span>
    </div>
    <div class="navbar">
      <ul>
        <li>
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <a href="sobre"><i class="fa fa-outdent" aria-hidden="true"></i> Sobre</a>
          <a href="formulario"><i class="fa fa-file-text-o" aria-hidden="true"></i> Cadastro</a>
        </li>
      </ul>
    </div>
  </header>