@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.0.1/css/fork-awesome.css');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html {
  position: relative;
  height: 100vh;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  height: 100vh;
}

.content {
  flex: 1;
  margin: 10px auto;
}

header,
footer {
  background-color: #eee;
}

header {
  border-bottom: thin solid #ddd;
}

header .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
header .logo img {
  max-width: 50px;
}
header .logo span {
  font-size: 30px;
}
header .navbar {
  background-color: #ff3d34;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar ul li {
  list-style: none;
}

header .navbar ul li a {
  background: #fff;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 500;
  color: #020202;
  font-size: 20px;
}
header .navbar ul li a:hover {
  background-color: #ff3d34;
  color: rgba(255, 255, 255);
}

footer {
  font-size: 14px;
  font-weight: 500;
  border-top: thin solid #ddd;
}

input,
select,
textarea {
  border: thin solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
button {
  border: thin solid #fff;
  border-radius: 5px;
  padding: 15px 10px;
  outline: none;
  background-color: #00afdb;
  color: #fff;
  font-weight: 600 !important;
  font-size: 14px;
  width: 100%;
  display: block;
}

/* ## VIEWS */

#home {
  display: flex;
  flex-direction: column;
}
#home img {
  max-width: 800px;
  padding: 0px 0px 10px 0px;
}
/*  vai mudar */
#home a {
  background-color: #ff3d34;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#home a:hover{
  background-color: #3a6fa3;
}

.group {
  display: flex;
}

/* @media (max-width: 600px) {
  .group {
    display: none;
  }
} */

.group div {
  flex: 1;
  margin: 5px;
}
.form-group {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

.nome {
  flex: 2 !important;
}

.razaosocial {
  flex: 2 !important;
}

.rua {
  flex: 2 !important;
}

.referencia {
  flex: 2 !important;
}

.form-group label {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #3a6fa3;
}

#form {
  background-color: rgb(250, 237, 237);
  min-width: 780px;
  padding: 10px;
}

#form .title {
  font-size: 20px;
  color: #3a6fa3;
  margin: 10px 0;
  text-align: center;
}

.div-checkbox {
  padding: 0px 10px 15px 10px;
  color: #3a6fa3
}

.radio-funcionarios {
  display: flex;
}
