<!-- Tela de erro para validação dos dados do Formulário -->

<!DOCTYPE html>
<html lang="pt-br">
<%- include('../components/head.ejs', { title: 'Pagina de Erro' }); %>

  <body>
    <%- include('../components/header.ejs'); %>

      <h1>Exitem erros no projeto</h1>

      <div class="erros">
        <ul>
          <% errors.map(item=> { %>
            <li>
              <%= item %>
            </li>
            <% }) %>
        </ul>
      </div>

      <a class="voltar" href="javascript:history.back()">Preencher Novamente</a>

      <!-- <%- include('../components/footer.ejs'); %> -->
  </body>

</html>