<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../components/head.ejs', {title: 'Pagina Formulario' }); %>

    <body>
        <%- include('../components/header.ejs'); %>
        <div class="content">
        <form action="/curriculum" method="POST">
            <input
              type="text"
              name="nome"
              placeholder="Insira o seu nome"
              required
            />
    
            <select name="status" required id="status">
              <option value="">---</option>
    
              <% opcoesStatus.map(item => { %>
              <option value="<%= item.label %>"><%= item.label %></option>
              <% }) %>
            </select>
    
            <button>Enviar</button>
          </form>
        </div>            
    </body>

</html>