<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/formulario.css">
    <title>Formulário</title>
</head>

<body onload="loadGitHub()">
    <div class="header">
        <div class="logo"><i class="fa fa-cutlery" aria-hidden="true"></i> Cadastro de Restaurantes</div>
        <div class="menu">
            <ul>
                <ul>
                    <li><a href="./index.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="./sobre.html"><i class="fa fa-outdent" aria-hidden="true"></i> Sobre</a></li>
                    <li><a href="./formulario.html"><i class="fa fa-file-text-o" aria-hidden="true"></i> Perfil</a></li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="content">
        <h4>Informações da Loja</h4>
        <div class="nomeLogoData">
            <div class="nome">
                <label for="nome" display="inline">Nome</label> <br />
                <input type="text" id="nomeLoja" name="nomeLoja">
            </div>
            <div class="nome">
                <label for="nome" display="inline">Nome</label> <br />
                <input type="text" id="nomeLoja" name="nomeLoja">
            </div>
            <div class="nome">
                <label for="nome" display="inline">Nome</label> <br />
                <input type="text" id="nomeLoja" name="nomeLoja">
            </div>
        </div>
        <div class="razaoSocial">
            <label for="razaoSocial" display="inline">Razão Social</label> <br />
            <input type="text" id="razaoSocialTxt" name="razaoSocialTxt">
        </div>
        <div class="email"></div>
        <div class="cnpjTelefone"></div>
        <div class="statusFuncionarios"></div>
        <div class="tipoDeRestaurante"></div>
        <div class="cepBairroRua"></div>
        <div class="numeroComplementoReferencia"></div>
        <div class="descricao"></div>
        <div class="checkSubmeter"></div>
        <!-- <div class="profile">
            <div class="thumb"></div>
            <div class="info">
                <div class="pesquisar">
                    <input type="text" id="novoPerfil" name="novoPerfil">
                    <button onclick="novoPerfil()">Pesquisar</button>
                </div>
            </div>
            
        </div> -->
    </div>

    <div class="footer">
        <span>Todos os direitos reservados</span>
    </div>

    <script src="./assets/js/script.js"></script>
</body>

</html>