<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> <!-- como na chamada do ejs já falou que a pasta é a public, não precisa voltar pasta
    e etc, assim ele já entende que o arquivo está na pasta public --> 
    <title>Document</title>
</head>
<body>
    <h1>Formulário</h1>

    <h2> <%= title %> </h2>
   
    <ul>
        <% opcoesStatus.map(item => { %>
            <li><%= item.label %> </li>    
        <% }) %>
        
    </ul>

    <ul>
        <% opcoesTiposDeRestaurante.map(item => { %>
            <li><%= item.label %> </li>    
        <% }) %>
        
    </ul>

</body>
</html>

