<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../components/head.ejs', { title: 'Pagina Home'}); %>
<body>
    <%- include('../components/header.ejs'); %>

    <div class="content" id="home">
      <img src="/img/banner.jpg" alt="" />

      <a href="formulario">Realizar Cadastro</a>
    </div>

    <%- include('../components/footer.ejs'); %>
</body>
</html>