<!DOCTYPE html>
<html lang="pt-br">
<%- include('../components/head.ejs', { title: 'Pagina Sobre' }); %>

    <body>
        <%- include('../components/header.ejs'); %>
            <div class="content">
                <div class="about">
                    <h1>Sobre Esta Aplicação</h1>
                    <div class="info">
                        <br>
                        <p>
                            Preencha a ficha com os dados do seu restaurante para gerar o arquivo .pdf da sua ficha.
                        </p>
                        <p>
                            <br/>
                            Desenvolvida por Tauan Velasco, no Bootcamp da Infnet.
                        </p>
                    </div>
                </div>
            </div>
            <%- include('../components/footer.ejs'); %>
    </body>

</html>